
body {
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: black;
    margin:0px;
    height:100%
}

:root{
    --mainColor: #775ea8;
    --borderColor: black;
    --chatColor1: #baadd9;
    --chatColor2: #b1a5d1;
    --chatColor3: #998fb3;
}

.horizontal-menu-2{    
            flex: 2;
            color: black;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            border-color: mediumpurple;
            border-right:0;
            border-left: 0; 
            border-top: 0;
            box-shadow: 0 0 40px 40px var(--mainColor) inset, 0 0 0 0 var(--mainColor);
            -webkit-transition: all 150ms ease-in-out;
            transition: all 150ms ease-in-out;
        }

.horizontal-menu-2:hover {
        background-color: #604c8a;
        box-shadow: 0 0 10px 0 mediumpurple inset, 0 0 10px 4px mediumpurple;
}


.iconOff{
    background-color: var(--mainColor);
    flex: 1;
    font-size: 30px;
    vertical-align: middle;
    border-top: 0;
    border-right: 2px solid var(--mainColor);   
    border-bottom: 2px solid #6C3783;
    border-left: 0;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px var(--mainColor) inset, 0 0 0 0 var(--mainColor);
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.iconOff:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.icon{
    background-color: var(--mainColor);
    flex: 1;
    font-size: 30px;
    vertical-align: middle;
    border-top: 0;
    border-right: 2px solid var(--mainColor);   
    border-bottom: 2px solid #6C3783;
    border-left: 0;
    box-shadow: 0 0 40px 40px var(--mainColor) inset, 0 0 0 0 var(--mainColor);
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.icon:hover {
    box-shadow: 0 0 40px 40px limegreen inset;
}
.redes{
    flex: 1;
    font-size: 1.8em;
    margin-top: 0.2em;
    line-height: 1.1em;
    cursor: pointer;
    border: 0;
}

html{
    height: 100%;
    margin:0px;
}

.container{
    height: 100%;
    margin:0px;
    box-sizing:border-box;
    padding-top: 60px;
}

.logo{
    background-color: var(--mainColor);
    border-top: 0;
    border-right: 2px solid var(--mainColor);   
    border-bottom: 2px solid #6C3783;
    border-left: 0;

}

.logo:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.logo:active {
    color: #000
}

.logo:active:after {
    background: transparent;
}

.logo:hover:before {
    opacity: 1;
}

.logo:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/*-------------------HOME PAGE-----------------*/

.chat-container{
    flex:4; 
    margin: 50px 50px ;
    border:black 2px solid; 
    border-radius:10px 0px 10px 10px;
    display: flex;
    flex-direction:column;
    background-color: rgba(0,0,0);
}

.darken{
    background-color: rgba(0,0,0);
}

.darken > *{
    opacity: 0.5;
}

.chat-form { background: var(--chatColor2); padding: 0.25rem; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); border-radius:0px 0px 10px 10px}
.chat-form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: var(--chatColor1) }

.messages { list-style-type: none; margin: 0; padding: 0; flex:1; overflow-y: scroll; background-color: var(--chatColor3); border-radius:10px 0px 0px 0px; z-index:0}
.messages > li { padding: 0.5rem 1rem; background-color: var(--chatColor1);}
.messages > li:nth-child(odd) { background: var(--chatColor2); }