
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%; 
    text-align: center; 
    min-height: 200px;
}

.div{
    align-items: center;
    justify-content: center;
    width: 100%; 
    text-align: center; 
    margin: 0 0; 
    min-height: 200px;
}

.input{
    padding: 10px 122px 10px 10px; 
}

select{
    padding: 5px 0px; 
}
table{
    border-radius:8px;
    padding: 10px 10px;
    background-color: #baadd9;
    justify-content: center;
}
tr{
    text-align: center;
}

th{
    padding: 0 15px;
}

.button{    
    color: black;
    font-weight: 350;
    font-size: 15px;
    text-align: center;
    border-color: mediumpurple;
    box-shadow: 0 0 40px 40px var(--mainColor) inset, 0 0 0 0 var(--mainColor);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.button:hover {
background-color: #604c8a;
box-shadow: 0 0 10px 0 mediumpurple inset, 0 0 10px 4px mediumpurple;
}
